<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/Software_Seguro/recursos/js/csrf.js" defer></script>
  <script src="/Software_Seguro/recursos/js/redirecionarView.js" defer></script>
  <title>Cadastrar Paciente - Clínica Médica</title>
  <link rel="stylesheet" href="/Software_Seguro/recursos/css/main.css">
</head>
<body>
  <div class="container">
    <div class="header-pagina">
      <h1>Cadastrar Novo Paciente</h1>
      <a href="?pagina=dashboard" class="btn-voltar">Voltar</a>
    </div>

    <form id="form-paciente" action="/Software_Seguro/application/index.php?action=cadastrarPaciente" method="POST">
      
      <input type="hidden" id="id" name="id" value="">
      <input type="hidden" name="csrf_token" id="csrf_token" value="">

      <label for="nome">Nome Completo:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="nome">CPF:</label>
      <input type="text" id="cpf" name="cpf" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="telefone">Telefone:</label>
      <input type="text" id="telefone" name="telefone" required>

      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="date" id="dataNascimento" name="dataNascimento" required>

      
      <button type="submit" class="btn-primario">Cadastrar Paciente</button>
    </form>
  </div>

  <script src="/Software_Seguro/recursos/js/cadastrarPaciente.js"></script>
</body>
</html>