<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
 <script src="/Software_Seguro/recursos/js/csrf.js" defer></script>
  <script src="/Software_Seguro/recursos/js/redirecionarView.js" defer></script>
  <title>Cadastrar Médico - Clínica Médica</title>
  <link rel="stylesheet" href="/Software_Seguro/recursos/css/main.css">
</head>
<body>
  <div class="container">
    <div class="header-pagina">
      <h1>Cadastrar Novo Médico</h1>
      <a href="?pagina=dashboard" class="btn-voltar">Voltar</a>
    </div>

    <form id="form-medico" method="post">
      
      <input type="hidden" id="id" name="id" value="">
      <input type="hidden" id="csrf_token" name="csrf_token" value="">

      <label for="nome">Nome do Médico:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="crm">CRM:</label>
      <input type="text" id="crm" name="crm" required>

      <label for="especialidade">Especialidade:</label>
      <select id="especialidade" name="especialidadeId" required>
        <option value="">Selecione...</option>
        <!-- opções carregadas dinamicamente -->
      </select>

      <button type="submit" class="btn-primario">Salvar</button>
    </form>
  </div>

  <script src="/Software_Seguro/recursos/js/cadastrarMedico.js"></script>
</body>
</html>