<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Clínica Médica</title>
  <link rel="stylesheet" href="../recursos/css/main.css">
</head>

<body>
  <div class="container">
    <!-- Cabeçalho da página -->
    <div class="header-pagina">
      <h1>Dashboard</h1>
      <a href="logout.html" class="btn-voltar">Sair</a>
    </div>

    <!-- Grid de opções do sistema -->
    <div class="grid-opcoes">

      <a href="?pagina=agenda" class="card-opcao">
        <div class="icone">📅</div>
        <div class="texto">
          <h3>Ver Agenda</h3>
          <p>Visualizar todas as consultas agendadas.</p>
        </div>
      </a>

      <a href="?pagina=cadastroConsulta" class="card-opcao">
        <div class="icone">➕</div>
        <div class="texto">
          <h3>Agendar Consulta</h3>
          <p>Marcar nova consulta para paciente.</p>
        </div>
      </a>

      <a href="?pagina=cadastro-paciente" class="card-opcao">
        <div class="icone">👤</div>
        <div class="texto">
          <h3>Novo Paciente</h3>
          <p>Cadastrar novos pacientes no sistema.</p>
        </div>
      </a>

      <a href="?pagina=cadastro-medico" class="card-opcao">
        <div class="icone">🩺</div>
        <div class="texto">
          <h3>Novo Médico</h3>
          <p>Adicionar médicos e suas especialidades.</p>
        </div>
      </a>

      <a href="?pagina=cadastro-especialidade" class="card-opcao">
        <div class="icone">📚</div>
        <div class="texto">
          <h3>Nova Especialidade</h3>
          <p>Gerenciar especialidades médicas.</p>
        </div>
      </a>

      <a href="?pagina=listagem-pacientes" class="card-opcao">
        <div class="icone">👥</div>
        <div class="texto">
          <h3>Listar Pacientes</h3>
          <p>Visualizar todos os pacientes cadastrados.</p>
        </div>
      </a>

      <a href="?pagina=listagem-medicos" class="card-opcao">
        <div class="icone">👥</div>
        <div class="texto">
          <h3>Listar Medicos</h3>
          <p>Visualizar todos os medicos cadastrados.</p>
        </div>
      </a>

      <a href="?pag